<header class="o-header">
    <div class="o-header__container">
        <div class="o-header__item o-header__item--logo">
            {{> icons/i-project-mila }}
        </div><!--
        --><nav class="o-header__item o-header__item--nav">
            <a class="o-header__link" href="#the-game">The Game</a>
            <a class="o-header__link" href="#about">About</a>
            <a class="o-header__link" href="#contact">Contact</a>
            <a class="o-header__link o-header__link--highlight" href="#the-game">Download</a>
        </nav>
    </div>

    {{> o-hero/o-hero }}
</header>
