<form class="o-form" action="https://formspree.io/neebulagames@gmail.com" method="POST">
    <input class="o-form__input" type="text" name="name" placeholder="Your Name" required/>

    <input class="o-form__input" type="email" name="email" placeholder="Email Address" required/>

    <input class="o-form__input" type="text" name="phone" placeholder="Phone"/>

    <input class="o-form__input" type="text" name="company" placeholder="Company"/>

    <textarea class="o-form__textarea" name="message" placeholder="Your Message" required></textarea>

    <div class="o-form__cta">
        <button class="c-button" type="submit" name="submit" value="Submit">
            <div class="c-button__text">
                Submit
            </div>
        </button>
    </div>
</form>