<footer class="o-footer">
   <div class="o-footer__container">
       <div class="o-footer__item">
           <span class="o-footer__text">Project M.I.L.A. 2017 All Rights Reserved</span>
       </div><!--
       --><nav class="o-footer__item o-footer__item--nav">
           <a class="o-footer__link" href="#the-game">The Game</a>
           <a class="o-footer__link" href="#about">About</a>
           <a class="o-footer__link" href="#contact">Contact</a>
           <a class="o-footer__link" href="#the-game">Download</a>

           {{> c-social-media/c-social-media }}
       </nav>
   </div>
</footer>
