<div class="c-card">
    <div class="c-card__container">
       <img class="c-card__picture" src="//files.slack.com/files-pri/T2MCN6E2Z-F7B58489F/neebula-games-ennio.png"/>

       <span class="c-card__name">Ennio Casas</span>
       <span class="c-card__position">Programmer and Game Designer</span>

       <div class="c-card__social">
            <a class="c-card__link" href="//www.facebook.com/ennio.casaspuglielli" target="_blank">
                {{> icons/i-facebook }}
            </a>
            <a class="c-card__link" href="//twitter.com/Ennio_Casas" target="_blank">
                {{> icons/i-twitter }}
            </a>
            <a class="c-card__link" href="//www.linkedin.com/in/ennio-casas-puglielli-12846594" target="_blank">
                {{> icons/i-linkedin }}
            </a>
            <a class="c-card__link" href="//github.com/theepsi" target="_blank">
                {{> icons/i-github }}
            </a>
            <a class="c-card__link" href="//ennio.viviendoenlared.com/" target="_blank">
                {{> icons/i-web }}
            </a>
       </div>
    </div>
</div>