<div class="c-card">
    <div class="c-card__container">
       <img class="c-card__picture" src="https://files.slack.com/files-pri/T2MCN6E2Z-F7B1ARNV6/neebula-games-clara.png"/>

       <span class="c-card__name">Clara García</span>
       <span class="c-card__position">Lear Artist and Game Designer</span>

        <div class="c-card__social">
            <a class="c-card__link" href="https://www.linkedin.com/in/claragarciagimeno/" target="_blank">
                {{> icons/i-linkedin }}
            </a>
            <a class="c-card__link" href="https://twitter.com/shaandy92" target="_blank">
                {{> icons/i-twitter }}
            </a>
            <a class="c-card__link" href="https://claragarcia.me/" target="_blank">
                {{> icons/i-web }}
            </a>
        </div>
    </div>
</div>