<div class="c-card">
    <div class="c-card__container">
       <img class="c-card__picture" src="https://files.slack.com/files-pri/T2MCN6E2Z-F7BJ7S059/neebula-games-miriam.png"/>

       <span class="c-card__name">Míriam Castellón</span>
       <span class="c-card__position">Game Artist</span>

        <div class="c-card__social">
            <a class="c-card__link" href="https://www.linkedin.com/in/miriamcastellon/" target="_blank">
                {{> icons/i-linkedin }}
            </a>
            <a class="c-card__link" href="https://twitter.com/miriamcc_92" target="_blank">
                {{> icons/i-twitter }}
            </a>
        </div>
    </div>
</div>