<div class="c-card">
    <div class="c-card__container">
       <img class="c-card__picture" src="//files.slack.com/files-pri/T2MCN6E2Z-F7BQJAARK/neebula-games-joel.png"/>

       <span class="c-card__name">Joel Lopez</span>
       <span class="c-card__position">Lead Programmer and Game Designer</span>

       <div class="c-card__social">
           <a class="c-card__link" href="//www.linkedin.com/in/jowie94/" target="_blank">
               {{> icons/i-linkedin }}
           </a>
            <a class="c-card__link" href="" target="_blank">
                {{> icons/i-twitter }}
            </a>
            <a class="c-card__link" href="//github.com/jowie94" target="_blank">
                {{> icons/i-github }}
            </a>
       </div>
    </div>
</div>