<div class="c-card">
    <div class="c-card__container">
       <img class="c-card__picture" src="//files.slack.com/files-pri/T2MCN6E2Z-F7BQJALBX/neebula-games-pol.png"/>

       <span class="c-card__name">Pol Vilà</span>
       <span class="c-card__position">Programmer</span>

       <div class="c-card__social">
            <a class="c-card__link" href="//www.facebook.com/vilasalo" target="_blank">
                {{> icons/i-facebook }}
            </a>
            <a class="c-card__link" href="" target="_blank">
                {{> icons/i-twitter }}
            </a>
            <a class="c-card__link" href="//www.linkedin.com/in/polvila/" target="_blank">
                {{> icons/i-linkedin }}
            </a>
            <a class="c-card__link" href="" target="_blank">
                {{> icons/i-github }}
            </a>
       </div>
    </div>
</div>