<div class="c-card">
    <div class="c-card__container">
       <img class="c-card__picture" src="assets/neebula-games-ennio.png"/>

       <span class="c-card__name">Ennio Casas</span>
       <span class="c-card__position">Programmer and Game Designer</span>

       <div class="c-card__social">
           <a class="c-card__link" href="https://www.linkedin.com/in/ennio-casas-puglielli-12846594" target="_blank">
               {{> icons/i-linkedin }}
           </a>
            <a class="c-card__link" href="https://twitter.com/Ennio_Casas" target="_blank">
                {{> icons/i-twitter }}
            </a>
            <a class="c-card__link" href="https://ennio.viviendoenlared.com/" target="_blank">
                {{> icons/i-web }}
            </a>
            <a class="c-card__link" href="https://github.com/theepsi" target="_blank">
                {{> icons/i-github }}
            </a>
       </div>
    </div>
</div>