<div class="o-blob o-blob--centered">
    <div class="o-blob__item">
        <h2 class="o-blob__headline">
            Our studio.
        </h2>

        <div class="o-blob__description">
            <p class="o-blob__paragraph">
                <strong class="c-highlight">Neebula Games</strong> is the indie studio behind the fast-paced first-person puzzle game Project M.I.L.A, a debut project that promises exciting challenges settled in a countdown environment.
            </p>
        </div>
    </div>

    <div class="o-blob__item">
        {{> c-card/c-card-clara }}<!--

        -->{{> c-card/c-card-miriam }}
    </div>

    <div class="o-blob__item">
        {{> c-card/c-card-joel }}<!--

        -->{{> c-card/c-card-ennio }}<!--

        -->{{> c-card/c-card-pol }}
    </div>
</div>