<a class="c-button c-button--linear" href="#trailer" target="_blank">
    <i class="c-button__icon">
        {{> icons/i-play }}
    </i>
    <div class="c-button__text">
        Watch trailer
    </div>
</a>