<div class="o-blob">
    <div class="o-blob__item">
        <h2 class="o-blob__headline">
            The spaceship is falling apart.
        </h2>
        <h2 class="o-blob__headline o-blob__headline--highlight">
            And you must fix it.
        </h2>

        <div class="o-blob__description">
            <p class="o-blob__paragraph">
                Don't trust anyone. Space is deadly no matter how hard you try to make things right.
            </p>
            <p class="o-blob__paragraph">
                Project M.I.L.A. is a fast-paced first-person puzzle game in which you will face several threats that will challenge you unless you use your skills in time. Welcome aboard stranger, and remember: <strong class="c-highlight">Die. Learn. Survive.</strong>
            </p>
        </div>

        {{> c-button/c-button-download }}
    </div><!--
    --><div class="o-blob__item">
        <div class="o-blob__image"></div>
    </div>
</div>
