<div class="o-blob">
    <div class="o-blob__item">
        <h2 class="o-blob__headline">
            The spaceship is falling apart.
        </h2>
        <h2 class="o-blob__headline o-blob__headline--highlight">
            And you must fix it.
        </h2>

        <div class="o-blob__description">
            <p class="o-blob__paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque orci magna.
            </p>
            <p class="o-blob__paragraph">
                Nam id massa pretium, pellentesque lacus a, malesuada nunc. Mauris posuere ante ac arcu iaculis, vitae vehicula risus scelerisque. Curabitur sagittis dapibus orci ac pretium. Quisque vel neque sed libero aliquam commodo.
            </p>
        </div>

        {{> c-button/c-button-download }}
    </div><!--
    --><div class="o-blob__item">
        <div class="o-blob__image"></div>
    </div>
</div>
