<div class="o-hero">
    <div class="o-hero__headline">
        <h1 class="o-hero__title">Die. Learn. Survive.</h1>
        <h3 class="o-hero__subtitle">Find the truth behind this <strong class="c-highlight">timeless</strong> space adventure.</h3>

        {{> c-button/c-button-trailer }}
    </div>
</div>

{{> icons/i-neebula-games }}