.o-hero {
  width: 100%;
  display: inline-block;
  z-index: $z-index-0;

  &:before {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("assets/ProjectMila_HighresScreenshot03_low.jpg");
    background-position: 19% 0;
  }

  &:after {
    content: "";
    background-color: $shadow-15;
  }
}

.o-hero, .o-hero:before, .o-hero:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.o-hero__headline {
  position: absolute;
  width: 100%;
  max-width: 500px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  padding: $spacing-1 0;
  z-index: $z-index-after;
}

.o-hero__title {
  color: $white-0;
  font-size: $font-size-3;
  font-weight: $font-weight--1;
}

.o-hero__subtitle {
  color: $white-0;
  font-size: 1.15rem;
  font-weight: $font-weight--1;
  line-height: $line-height-1;
  padding-bottom: $spacing--2;
}

.o-hero__title + .o-hero__subtitle {
  margin-top: $spacing--2;
}

.o-hero__title, .o-hero__subtitle {
  display: inline-block;
  margin: 0 $spacing-0;
}


@media #{$mediaquery-1} {
  .o-hero {
    &:before {
      background-image: url("assets/ProjectMila_HighresScreenshot03.jpg");
      background-position: 0;
    }
  }
}

@media #{$mediaquery-2} {
  .o-hero__title {
    font-size: $font-size-4;
  }

  .o-hero__subtitle {
    font-size: 1.33rem;
    line-height: $line-height-4;
    border-bottom: $border-width-1 solid $white--1;
  }

  .o-hero__title + .o-hero__subtitle {
    margin-top: 0;
  }
}