.o-blob__item {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  text-align: center;

  .o-blob--centered & {
    width: 100%;
    padding: 0;
  }
  & + & {
    margin-top: 3.5rem;
  }
}

.o-blob__headline {
  color: $neutral-0;
  font-size: $font-size-2;
  font-weight: 400;
  line-height: 1.35;

  .o-main__container--alt & {
    color: $white-0;
  }
}

.o-blob__description {
  display: inline-block;
  width: 100%;

  * + & {
    margin-top: $spacing-0;
  }
  .o-blob--centered & {
    margin-top: $spacing-0;
  }
}

.o-blob__paragraph {
  font-size: 1.1rem;

  & + & {
    margin-top: $spacing-1;
  }
  .o-blob--centered & {
    margin: auto;
    line-height: $line-height-2;
  }
}

.o-blob__image {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("assets/ProjectMila_HighresScreenshot11.jpg");
  background-position: 50%;
  border-radius: 10px;
  box-shadow: 0 0 15px $shadow-1;
}


@media #{$mediaquery-2} {
  .o-blob__item {
    width: 50%;
    text-align: left;

    .o-blob--centered & {
      text-align: center;
    }
    .o-blob--centered & + & {
      margin-top: 5rem;
    }
    &:nth-child(odd) {
      padding-right: $spacing-5;
    }
    &:nth-child(even) {
      padding-left: $spacing-5;
    }
    & + & {
      margin-top: 0;
    }
  }

  .o-blob__headline {
    font-size: $font-size-3;
  }

  * + .o-blob__description {
    margin-top: $spacing-4;

    .o-blob--centered & {
      margin-top: $spacing-2;
    }
  }

  .o-blob__paragraph {
    font-size: 1.15rem;
    .o-blob--centered & {
      max-width: 80%;
    }
  }
}