{{> o-header/o-header }}

<main class="o-main">
    <section class="o-main__container" id="the-game">
        <div class="o-main__item">
            {{> o-the-game/o-the-game }}
        </div>
    </section>

    {{> o-video/o-video }}

    <section class="o-main__container" id="about">
        <div class="o-main__item">
            {{> o-about/o-about }}
        </div>
    </section>

    <section class="o-main__container o-main__container--alt" id="contact">
        <div class="o-main__item">
            {{> o-contact/o-contact }}
        </div>
    </section>
</main>

{{> o-footer/o-footer }}