<div class="o-blob o-blob--centered">
    <div class="o-blob__item">
        <h2 class="o-blob__headline">
            We'd love to hear from you.
        </h2>

        <div class="o-blob__description">
            <p class="o-blob__paragraph">
                Do you have any suggestion? Did you find any bug or want to help us improve the game? Let us know.
            </p>
        </div>

        {{> o-form/o-form }}
    </div>
</div>